.hr-gradient{
    border: none;
    height: 1px; /* o más si quieres una línea más gruesa */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%)  !important;
    width: 100%;
    margin: 2rem 0; /* opcional, para espaciado */
}

.head-proyects{
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url(../Assets/IMG/Telas/Seda-Rosa-Iz-ajustada1.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.modal-img {
    width: 100%;
    height: auto;
}
/*
.modal-backdrop.show {
  opacity: 0 !important;
  pointer-events: none;
}*/
.modal {
  z-index: 2000 !important; /* modal por encima del backdrop */
}



.modal-backdrop.show {
  z-index: 1500 !important;
  opacity: 0.5 !important;
  pointer-events: none !important;
}


.card-img-top {
  height: 393px;        /* Alto que tú quieras */
  object-fit: cover;    /* Recorta la imagen para que llene el espacio */
}

.portada{
  height: auto;
  position: relative;

}

.galeria{
  height: auto;
  position: relative;
  
}

.tooltip-term {
  position: relative;
  cursor: help;
  border-bottom: 1px dashed #999; /* Puedes cambiar el color si quieres */
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  max-width: 240px;
  background-color: #111; /* Fondo oscuro */
  color: #fff;
  text-align: left;
  padding: 8px 10px;
  border-radius: 6px;
  position: absolute;
  bottom: 100%; /* Aparece encima del texto */
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
  z-index: 10;

  /* Tip visual opcional */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.tooltip-term:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@keyframes fade {
  from { opacity: 0; transform: translateX(10px); }
  to   { opacity: 1; transform: translateX(0); }
}
