body, html {
  margin: 0;
  padding: 0;
}

/*--Navbaar*/

/* Navbar completo pegado a los bordes y con borde inferior */
.dqe-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 124px;
  padding: 10px 40px;
  z-index: 1000;
  background-color: transparent;
  border-bottom: none;
}

/* Línea con desvanecimiento */
.dqe-navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.15) 70%, rgba(0, 0, 0, 0.15) 100%);
    z-index: 9;
}

.logo-container {
    position: absolute;
    bottom: -57px; /* sobresale 20px hacia abajo del navbar */
    left: 40px; /* o donde lo necesites */
    z-index: 20;
    text-align: center;
}

.logo-S{
  display: none;
}

.logo-M{
  display: none;
}  

/* Menú */
.dqe-navbar .nav-link {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 10px;
    color: #000;
}

.nav-link.effect {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000; /* o el color que quieras */
  transition: color 0.3s ease;
}

.nav-link.effect::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; /* justo en el borde inferior */
  width: 0;
  height: 2px;
  background-color: #080808; /* color del subrayado */
  transition: width 0.4s ease;
}

.nav-link.effect:hover::after {
  width: 100%;
}


/* Contacto */
.contact-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #000;
}

.contact-info i {
  margin-right: 4px;
}

section{

  width: 100%;
  height: 100vh;
}

/*--Home*/
.section-Home {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* Contenedor del video */
.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* VIDEO DE FONDO */
.video-bg {
  position: absolute; /* para que esté detrás de todo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* detrás de overlay y texto */
}

/* CAPA OSCURA o GRADIENTE ENCIMA DEL VIDEO */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,1));
  z-index: 2;
  pointer-events: none;
}

/* TEXTO ENCIMA DEL VIDEO Y DEL OVERLAY */
.texto-overlay {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  padding: 1rem;
}


/* Carousel ocupa todo el espacio de la sección */
#carouselExampleFade {
  width: 100%;
  height: 100%; /* toma el 100% de la sección */
}

/* Las imágenes ocupan ancho 100% y alto 100% para cubrir el carousel sin deformarse */
#carouselExampleFade .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* mantiene proporción y rellena sin deformar */ /* centra la imagen */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 18.66%, #FFF 91.15%);
}

#typed-word {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  border-right: 2px solid #000;
  white-space: nowrap;
  overflow: hidden;
}

.btn-home{
  background-color: var(--neutral-900) !important;
  color: var(--neutral-0);
  padding: 16px 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.btn-home:Hover{
  background-color: transparent !important;
  color: var(--neutral-1000);
  border: 1px solid var(--neutral-1000);
}

.reveal-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
/*--About Me*/

.section-AboutMe {
  /*background-color: aqua;*/
  width: 100%;
  height: auto;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.slide-text {
  display: none;
  animation: fade 0.5s ease-in-out;
}

.slide-text.active {
  display: block;
}

.tooltip-term {
  position: relative;
  cursor: help;
  border-bottom: 1px dashed #999; /* Puedes cambiar el color si quieres */
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  max-width: 240px;
  background-color: #111; /* Fondo oscuro */
  color: #fff;
  text-align: left;
  padding: 8px 10px;
  border-radius: 6px;
  position: absolute;
  bottom: 125%; /* Aparece encima del texto */
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
  z-index: 10;

  /* Tip visual opcional */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.tooltip-term:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@keyframes fade {
  from { opacity: 0; transform: translateX(10px); }
  to   { opacity: 1; transform: translateX(0); }
}

.sobrepuesta-img {
  position: absolute;
  top: 60%;
  right: 0;
  transform: translate(41%, -50%);
  max-width: 62%;
  z-index: 2;
}

.AboutMe{
  height: auto;
  width: 50vw !important;
  padding: 20px 24px;
  border: 1px solid black !important;
}

/* Asegura que el slider ocupe todo el ancho y esté en columna */
.slider-text-container {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* esto estira los hijos al 100% */
}

/* Hace que cada slide se adapte al ancho completo */
.slide-text {
  width: 100%;
}

.btn-AboutMe{
  background-color: var(--neutral-0) !important;
  color: var(--neutral-1000);
  padding: 16px 32px;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border: 1px solid black !important;
}

.btn-AboutMe:hover{
  background-color: var(--neutral-1000) !important;
  color: var(--neutral-0) !important;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.icons-row {
  width: 32px;  /* o el tamaño deseado */
  height: 32px;
  cursor: pointer;
}

.card-Me{
  border: 1px solid black;
}

.fade-img {
  transition: opacity 0.4s ease;
  opacity: 1;
}

.fade-img.fade-out {
  opacity: 0;
}

/*--Technologies*/
  .logo-strip {
    overflow: hidden;
    white-space: nowrap;
    background: transparent;
    padding: 10px 0;
  }

  .logo-strip .logos {
    display: inline-block;
    animation: scroll-left 50s linear infinite;
  }

  .logo-strip .logos img {
    height: 50px;
    margin: 0 30px;
    vertical-align: middle;
  }

  @keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*---RESPONSIVE*/

/* Mobile - pequeño: 320px a 425px */
@media (min-width: 320px) and (max-width: 425px) {

  .logo-container{
    display: none;
  }

  .logo-M{
  display: none;
  } 
  
  .logo-S{
    display: block;
  }

  .btn-home{
    font-size: 0.7rem;
    padding: 8px 20px;
    font-family: 'Montserrat', sans-serif;
  }

  .texto-overlay {
    width: 100vw;
  }

  /*About me*/
  .slide-text .heading-xlarge {
    font-size: 1.8rem;
  }
  .section-AboutMe .slide-text .text-large {
    font-size: 1rem;
  }

  /*--About Me*/

.section-AboutMe {
  /*background-color: aqua;*/
  width: 100%;
  height: auto;
  position: relative;
  padding: 0;
  margin: 0; 
  }

  .AboutMe{
  width: 100vw !important;
  padding: 0px 4px;
  border: 1px solid black !important;
}
.sobrepuesta-img {
   position: static;
    transform: none;
    display: block;
    margin: 2rem auto 0;
}

}
/* Tablet: 426px a 768px */
@media (min-width: 426px) and (max-width: 768px) {
   
  .navbar-toggler {
    margin-left: auto !important;
  }
  .logo-container{
    display: none;
  }
  .logo-M{
  display: none;
  }  
  .logo-S{
    display: block;
  }

  .texto-overlay {
    width: 100vw;
  }

  /*About me*/
  .slide-text .heading-xlarge {
    font-size: 1.8rem;
  }
  .section-AboutMe .slide-text .text-large {
    font-size: 1rem;
  }

  /*--About Me*/

.section-AboutMe {
  /*background-color: aqua;*/
  width: 100%;
  height: auto;
  position: relative;
  padding: 0;
  margin: 0; 
  }

  .AboutMe{
  width: 100vw !important;
  padding: 0px 4px;
  border: 1px solid black !important;
}
/*
.sobrepuesta-img {
   max-width: 40%;
   transform: translate(33%, -28%);
}
*/
.sobrepuesta-img {
   position: static;
    transform: none;
    display: block;
    margin: 2rem auto 0;    
    max-width: 49%;
}

}

/* PC: 1024px a 1440px */
@media (min-width: 1024px) and (max-width: 1440px) {
   
  .logo-container{
    display: none;
  }

  .logo-S{
    display: none;
  }

  .logo-M{
    display: block;
    position: absolute; /* o fixed si quieres que esté fijo en pantalla */
    top: 21px;
    left: -10px;
    z-index: 1000;
  }
  
  .dqe-navbar {
    padding: 10px 20px;
  }
  .dqe-navbar .nav-link {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 10px;
    color: #000;
  }
  .texto-overlay {
    width: 80vw;
  }

  .btn-home{
    padding: 14px 32px;
  }

    /*--About Me*/
  /*--About Me*/

.section-AboutMe {
  /*background-color: aqua;*/
  width: 100%;
  height: auto;
  position: relative;
  padding: 0;
  margin: 0; 
  }

  .AboutMe{
  width: 100vw !important;
  padding: 0px 4px;
  border: 1px solid black !important;
}

/*
.sobrepuesta-img {
   max-width: 40%;
   transform: translate(33%, -28%);
}
*/
.sobrepuesta-img {
      position: absolute;
    top: 60%;
    right: 0;
    transform: translate(29%, -50%);
    max-width: 62%;
    z-index: 2;
   
}


 
}

/* PC XL: 1920px en adelante */
@media (min-width: 1920px) {
  .logo-S{
  display: none;
  }  
  .logo-M{
  display: none;
  }  
}