body, html {
  margin: 0;
  padding: 0;
}

/*--Navbaar*/

/* Navbar completo pegado a los bordes y con borde inferior */
.dqe-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 124px;
  padding: 10px 40px;
  z-index: 1000;
  background-color: transparent;
  border-bottom: none;
}

/* Línea con desvanecimiento */
.dqe-navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.15) 70%, rgba(0, 0, 0, 0.15) 100%);
    z-index: 9;
}

.logo-container {
    position: absolute;
    bottom: -57px; /* sobresale 20px hacia abajo del navbar */
    left: 40px; /* o donde lo necesites */
    z-index: 20;
    text-align: center;
}

.logo-S{
  display: none;
}

.logo-M{
  display: none;
}  

/* Menú */
.dqe-navbar .nav-link {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 10px;
    color: #000;
}

.nav-link.effect {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000; /* o el color que quieras */
  transition: color 0.3s ease;
}

.nav-link.effect::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; /* justo en el borde inferior */
  width: 0;
  height: 2px;
  background-color: #080808; /* color del subrayado */
  transition: width 0.4s ease;
}

.nav-link.effect:hover::after {
  width: 100%;
}


/* Contacto */
.contact-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #000;
}

.contact-info i {
  margin-right: 4px;
}

section{

  width: 100%;
  height: 100vh;
}

/*--Home*/
.section-Home {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* Contenedor del video */
.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* VIDEO DE FONDO */
.video-bg {
  position: absolute; /* para que esté detrás de todo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* detrás de overlay y texto */
}

/* CAPA OSCURA o GRADIENTE ENCIMA DEL VIDEO */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,1));
  z-index: 2;
  pointer-events: none;
}

/* TEXTO ENCIMA DEL VIDEO Y DEL OVERLAY */
.texto-overlay {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  padding: 1rem;
}


/* Carousel ocupa todo el espacio de la sección */
#carouselExampleFade {
  width: 100%;
  height: 100%; /* toma el 100% de la sección */
}

/* Las imágenes ocupan ancho 100% y alto 100% para cubrir el carousel sin deformarse */
#carouselExampleFade .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* mantiene proporción y rellena sin deformar */ /* centra la imagen */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 18.66%, #FFF 91.15%);
}

#typed-word {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  border-right: 2px solid #000;
  white-space: nowrap;
  overflow: hidden;
}

.btn-home{
  background-color: var(--neutral-900) !important;
  color: var(--neutral-0);
  padding: 16px 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.btn-home:Hover{
  background-color: transparent !important;
  color: var(--neutral-1000);
  border: 1px solid var(--neutral-1000);
}

/*---RESPONSIVE*/

/* Mobile - pequeño: 320px a 425px */
@media (min-width: 320px) and (max-width: 425px) {

  .logo-container{
    display: none;
  }

  .logo-M{
  display: none;
  } 
  
  .logo-S{
    display: block;
  }

  .btn-home{
    font-size: 0.7rem;
    padding: 8px 20px;
    font-family: 'Montserrat', sans-serif;
  }

  .texto-overlay {
    width: 100vw;
  }

}

/* Tablet: 426px a 768px */
@media (min-width: 426px) and (max-width: 768px) {
   
  .navbar-toggler {
    margin-left: auto !important;
  }
  .logo-container{
    display: none;
  }
  .logo-M{
  display: none;
  }  
  .logo-S{
    display: block;
  }

  .texto-overlay {
    width: 100vw;
  }

}

/* PC: 1024px a 1440px */
@media (min-width: 1024px) and (max-width: 1440px) {
   
  .logo-container{
    display: none;
  }

  .logo-S{
    display: none;
  }

  .logo-M{
    display: block;
    position: absolute; /* o fixed si quieres que esté fijo en pantalla */
    top: 21px;
    left: -10px;
    z-index: 1000;
  }
  
  .dqe-navbar {
    padding: 10px 20px;
  }
  .dqe-navbar .nav-link {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 10px;
    color: #000;
  }
  .texto-overlay {
    width: 80vw;
  }

  .btn-home{
    padding: 14px 32px;
  }
 
}

/* PC XL: 1920px en adelante */
@media (min-width: 1920px) {
  .logo-S{
  display: none;
  }  
  .logo-M{
  display: none;
  }  
}